---
layout: main
title: Commentary on a Life in Technology
---

<div class="container justify-content-center">
    <div class="col-10 offset-1">
        {% for post in paginator.posts %}
            <div class="row justify-content-between align-items-center">
                <div class="post-date col-sm-2 col-1">
                    <div class="month text-center">
                        {{ post.date | date: '%b' }}
                    </div>
                    <h4 class="mb-0 font-weight-bold text-center day">
                        {{ post.date | date: '%d' }}
                    </h4>
                    <div class="year text-center">
                        {{ post.date | date: '%Y' }}
                    </div>
                </div>
                <div class="col-9 col-sm-10 col-offset-1">
                    <h5>
                        <a href="{{post.url}}" style="text-decoration: underline;">{{post.title}}</a> 
                    </h5>
                </div>
            </div>
            <br />
        {% endfor %}
    </div>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination-previous">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination-next">Next</a>
    {% endif %}
</nav>
