---
layout: main
title: Software Developer and Technology Enthusiast
---

<div class="container justify-content-center">
    <div class="col-8 offset-2 text-center">
        {% for post in paginator.posts %}
        <h5>
            <a href="{{post.url}}" style="text-decoration: underline;">{{post.title}}</a> - {{ post.date | date: '%B %d, %Y' }}
        </h5>
        {% endfor %}
    </div>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination-previous">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination-next">Next</a>
    {% endif %}
</nav>
