<nav class="navbar" role="navigation" aria-label="main navigation" style="box-shadow: 0 1px 0 rgba(219, 219, 219, 0.3)">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://mycahpleasant.com/">
            <h1 style="font-weight: bold;">MP</h1>
        </a>
        <a class="navbar-item" href="https://mycahpleasant.com/blog/">
            Blog
        </a>
    </div>
    <div class="navbar-end is-hidden-mobile">
        <a class="nav-item" href="https://github.com/Hacym" target="_blank">
            <span class="fa fa-github" aria-hidden="true"></span>
        </a>
        <a class="nav-item" href="https://www.linkedin.com/in/mycah-pleasant-51869128/">
            <span class="fa fa-linkedin" aria-hidden="true"></span>
        </a>
        <a class="nav-item" href="https://www.mycahpleasant.com/blog">
            <span class="fa fa-book" aria-hidden="true"></span>
        </a>
    </div>
</nav>
