<footer class="footer has-text-centered">
    <div class="has-text-centered columns">
        <div class="column"><a href="/about.html">About</a></div> 
        <div class="column">&bull;</div> 
        <div class="column"><a href="https://github.com/hacym" target="_blank">GitHub</a></div>
        <div class="column">&bull;</div>
        <div class="column"><a href="https://www.linkedin.com/in/mycah-pleasant/" target="_blank">LinkedIn</a></div>
        <div class="column">&bull;</div>
        <div class="column">Contact</div>
    </div>
    <hr />
    <p>
        &copy;
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script>
        <a href="https://mycahpleasant.com" style="text-decoration: underline">MyCah Pleasant</a>
    </p>
</footer>
