<footer class="footer has-text-centered">
    <p>&copy; 2017 <a href="https://mycahpleasant.com" style="text-decoration: underline">MyCah Pleasant</a></p>
    <p>        
        <a href="https://github.com/Hacym" target="_blank"><span class="fa fa-github" aria-hidden="true"></span></a>
        &nbsp;
        <a href="https://www.linkedin.com/in/mycah-pleasant-51869128/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
        &nbsp;
        <a href="https://www.mycahpleasant.com/blog"><span class="fa fa-book" aria-hidden="true"></span></a>
    </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/index.js"></script>
