<footer class="container-fluid" id="footer">
    <hr />
    <!--<div class="row">
        <div class="col-md-4 col-xs-10 offset-xs-1 offset-md-4">
            <form action="https://tinyletter.com/mycah" style="text-align: center;" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mycah', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <div class="form-group">
                    <div class="form-group">
                        <label for="tlemail">Subscribe to my mailing list</label>
                        <input class="form-control" type="text" name="email" id="tlemail" placeholder="Email" />
                    </div>
                    <input type="hidden" value="1" name="embed"/>
                    <input class="btn btn-primary" type="submit" value="Subscribe" />
                </div>
            </form>
        </div>
    </div>-->

    <div class="text-center">
        &copy;
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script>
        <a href="https://mycahpleasant.com" style="text-decoration: underline">MyCah Pleasant</a> | With <i id="heart" class="far fa-heart"></i> from ATL
    </div>
    <div class="text-center">
        &#9220;
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
