<div id="menu" class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">
            <a href="/about">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col text-center">
            <a href="/podcasts">
                <i class="fa fa-headphones" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<div id="header" class="container-fluid">
    <div id="name" class="container justify-content-center">
        <div class="row">
            <div class="col-xs-auto my-auto text-center">
                <h1>MYCAH</h1>
            </div>
            <div class="col-md-auto d-none d-md-block my-auto text-center">
                <img src="/img/mycah-small.png" alt="MyCah Pleasant" id="portrait" style="width:: 102px; height: 132px;">
            </div>
            <div class="d-md-none">&nbsp;&nbsp;</div>
            <div class="col-xs-auto my-auto text-center">
                <h1>PLEASANT</h1>
            </div>
        </div>
    </div>
</div>
