<div id="menu" class="container">
    <div class="row mr-0 justify-content-center align-items-center text-center">
        <div class="col">
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col">
            <a href="/about">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col">
            <a href="https://github.com/hacym">
                <i class="fab fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <!--
        <div class="col text-center">
            <a href="/podcasts">
                <i class="fa fa-headphones" aria-hidden="true"></i>
            </a>
        </div>
        -->
    </div>
</div>
