---
---

body {
    font-family: 'Arvo', serif;
    border-top: 5px solid #345D86;
}

.input-wrapper {
    padding: 5px 5px 5px 0px;
}

.post-action {
    padding: 5px 0px 0px 0px;
}

.first-letter {
    float: left;
    font-size: 60px;
    line-height: 45px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.fade-in {
    opacity: 0;
}
